# dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# build
dist
dist-ssr
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
